<form action="" method="POST" class="container">
    <div class="mb-3">
        <label for="" class="form-label">Task Name</label>
        <input type="text" class="form-control" name="make"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Type</label>
        <input type="text" class="form-control" name="Type"/>
    </div><div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" name="Description"/>
    </div>
    <button class="btn btn-info" type="submit">Add New Task</button>
</form>